Flask
google-api-core[grpc]<2.0.0dev,>=1.14.0
google-api-core<2.0.0dev,>=1.21.0
google-auth<2.0dev,>=1.24.0
google-api-python-client==2.27.0
google-cloud-ndb==1.10.5
google-cloud-secret-manager==2.7.2
# google-cloud-storage
# google-cloud-translate

git+https://github.com/typeworld/typeworld.git
git+https://github.com/yanone/hotmetal.git

gunicorn
pyjwt

# # https://stripe.com/docs/billing/subscriptions/metered
# stripe>=2.60.0,<3.0
